.lightgray {
    background-color: lightgrey;
}

.offwhite {
    padding-top: 3%;
    background-color:antiquewhite;
}

.offwhite h4 {
    color: gray;
    font-style: italic;
}

.side {
    padding-left: 10%;
    padding-right: 10%;
}

.row ul {
    width: 100%;
}
.row li {
    width: 25%;
    float: left;
    text-align: justify;
    list-style-type:none;
    margin-left: 5%;

  }
  
  img {
    border: 5px solid lightgray;
    display: inline-block;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
  }

  .sidebox {
    width: 75%;
    margin: 50px;
    background-color: lightgray;
    border: 1px darkgray;
    height: 25vh;
  }

.sidetitle {
        padding-top: 5%;
        margin-left: 25%;
}

  .sidetext {
    /* padding-top: 5%; */
    margin-left: 25%;
    margin-bottom: 5%;
  }

  .searchbar {
    max-width: 80%;
    margin-left: 10%;
    /* transform: translate(-50%); */
  }

  .textgray {
    font-weight: bold; color: gray;
  }

  .textblue {
    font-weight: bold; color: blue;
  }