.media img {
    width:50%;
}

hr.solid {
    border-top: 3px solid #bbb;
  }

.red{
    color:red;
}

.row { 
    display: flex;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left:25%;
    margin-right: 25%;
}
  
.column {
    text-align: center;
    border: 2px solid;
    flex: 50%;
}

.shared {
    margin-right: 1px;
}

.top {
    margin-top: 5px;
    margin-bottom: 20px;
}