body {
    color: whitesmoke;
    background-color: #272D2D;
    font-family: "Montserrat", sans-serif;
}

.container {
    width: 100%;
}
.styled-menu {
    margin-right: 5%;
    margin-top: 1%;
}

.navtext {
    font-size: 3vh;
    margin-left: 10px;
}

.col img {
    max-width: 100%;
}

.category-title {
    color: whitesmoke;
    text-align: center;
    margin-top: 5%;
}

.coverphoto {
    position: relative;
}

.row {
    padding-top: 2%;
}